{% extends 'base.html' %}
{% block content %}
{% include 'message.html' %}
<div id="divAddCustomerForm" style="margin-left: -35%;" class="container-fluid justify-content-start">
    <form action="{% url 'addcustomer' %}" method="POST" id="formAddCustomer">
        {% csrf_token %}

        <div class="col-sm-4 my-4 p-4 rounded container-fluid justify-content-center bg-dark text-white">

            <h2 class="text-center text-light mb-3">Add Customer</h2>

            <div class="form-outline col-xs-8">
                <label class="form-label" for="txtCustomerName">Customer Name</label>
                <input type="text" class="form-control" id="txtCustomerName" value="{{input_data.tax_code}}"
                    name="txtCustomerName" />
                <div id="divErrorCode" class="error_msgs"><b>{{error.cus_name|join:""}}</b></div>
            </div>

            <div class="form-outline mt-3 col-xs-8">
                <label class="form-label" for="txtPhone">Phone Number</label>
                <input type="text" class="form-control" minlength="13" maxlength="13" placeholder="example: +91 99999 88888" id="txtPhone" value="{{input_data.tax_code}}" name="txtPhone" />
                <div id="divErrorCode" class="error_msgs"><b>{{error.phone|join:""}}</b></div>
            </div>

            <div class="form-outline mt-3 col-xs-8">
                <label class="form-label" for="txtAddress">Address</label>
                <input type="text" class="form-control" id="txtAddress" value="{{input_data.tax_code}}"
                    name="txtAddress" />
                <div id="divErrorCode" class="error_msgs"><b>{{error.address|join:""}}</b></div>
            </div>

            <div class=" mt-3 form-outline">
                <input type="button" id="btnCancel" onclick="window.location.href=window.location.href" class="btn btn-secondary" value="Cancel">
            </div>
            <div style="margin-left: 4.5rem; margin-top: -3.4rem;" class="row">
                <div class=" mt-3 form-outline ">
                    <button type="submit" id="btnCustomerSave" onclick="return SaveCustomerValidation()"
                        class="btn btn-success"> Save </button>
                </div>
                <div class= "form-outline">
                    <button type="submit" style="display: None;" onclick="return SaveCustomerValidation()"
                        id="btnCustomerUpdate" name="btnCustomerUpdate" value="updateCustomer1" class="btn btn-primary">
                        Update </button>
                </div>
            </div>

        </div>
    </form>
</div>

<table id="tableCutomerDetails" class="table bg-dark text-light">
    <thead class="bg-dark">
        <tr>
            <th class="text-center">S.No</th>
            <th class="text-center">Customer name</th>
            <th class="text-center">Phone</th>
            <th class="text-center">Address</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody class="">
        {% for data in table %}
        <tr>
            <td class="text-center">{{forloop.counter}}{{endfor}}</td>
            <td class="text-center">{{data.cus_name}}</td>
            <td class="text-center">{{data.phone}}</td>
            <td class="text-center">{{data.address}}</td>
            <td class="text-center"><input type="button" value="Edit" onclick="return EditCustomerDetails('{{data.cus_id}}')"
                    class="btn btn-success"></td>
            <td class="text-center"><a href="{% url 'cusdetailsremove' data.cus_id  %}"><input type="button"
                        value="Delete" onclick="return confirm('Are you sure, you delete {{data.cus_name}} data?')"
                        class="btn btn-danger"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}