{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'message.html' %}

<div class="row">
    <!--  ADD PRODUCT INPUT CONTAINER   -->
    <div id="divAddProduct1" style="margin-left:-19rem;" class="mt-n3  container-fluid justify-content-start">
        <form method="POST" id="formAddProduct" action="{% url 'addProdUnit' %}">
            {% csrf_token %}
            <div class="col-sm-4 my-4 p-4 rounded container-fluid justify-content-center bg-dark text-white">

                <h2 class="text-center mb-3 text-light">Add Product</h2>

                <div class="form-outline col-xs-8">
                    <label class="form-label" for="txtProductName">Product Name</label>
                    <input type="text" class="form-control" id="txtProductName" value="{{input_data.tax_code}}"
                        name="txtProductName" />
                    <!-- <div id="divErrorCode" class="error_msgs"><b>{{error.tax_code|join:""}}</b></div> -->
                </div>

                <input type="hidden" name="hiddenAddProd" id="hiddenAddProd" value="addProd1">

                <div class="form-outline mt-3 col-xs-8">
                    <label class="form-label" for="txtPrice">Price</label>
                    <input type="number" class="form-control" id="txtPrice" value="{{input_data.tax_code}}"
                        name="txtPrice" />
                    <!-- <div id="divErrorCode" class="error_msgs"><b>{{error.tax_code|join:""}}</b></div> -->
                </div>

                <div class=" mt-3 form-outline">
                    <input type="button" id="btnCancel" onclick="window.location.href=window.location.href" class="btn btn-secondary" value="Cancel">
                </div> 
                <div style="margin-left: 4.5rem; margin-top: -3.4rem;" class="row">
                    <div class=" mt-3 form-outline ">
                        <button type="submit" id="btnProductSave" onclick="return SaveProductValidation()"
                            class="btn btn-success"> Save </button>
                    </div>
                    <div>
                        <button type="submit" style="display: None;" onclick="return SaveProductValidation()"
                            id="btnProductUpdate" name="btnProductUpdate" value="updateProd1" class="btn btn-primary">
                            Update </button>
                    </div>
                </div>


            </div>
        </form>
    </div>
    <!--  ADD UNIT INPUT CONTAINER  -->
    <div id="divAddUnit1" class=" container-fluid justify-content-start">
        <form method="POST" id="formAddUnit" action="{% url 'addProdUnit' %}">
            {% csrf_token %}
            <div class="col-sm-4 my-4 p-4 rounded container-fluid justify-content-center bg-dark text-white">

                <h2 class="text-center mb-3 text-light">Add Unit</h2>

                <div class="form-outline mt-3 col-xs-8">
                    <label class="form-label" for="ddlProductName">Product Name</label>
                    <select class="form-control" name="ddlProductName" id="ddlProductName">
                        <option value="0" selected>--Select Prdoduct--</option>
                        {% for value in product_name %}
                        <option value="{{value.product_id}}">{{ value.product_name }}</option>
                        {% endfor %}
                    </select>
                    <div id="divErrorUnit" class="error_msgs"><b>{{error.name|join:""}}</b></div>
                </div>

                <input type="hidden" name="hiddenAddUnit" id="hiddenAddUnit" value="addUnit1">

                <div class="form-outline mt-4 col-xs-8">
                    <label class="form-label" for="txtUnit">Unit</label>
                    <input type="text" class="form-control" id="txtUnit" value="{{input_data.tax_code}}"
                        name="txtUnit" />
                    <div id="divErrorProductName" class="error_msgs"><b>{{error.tax_code|join:""}}</b></div>
                </div>

                <div class=" mt-3 form-outline">
                    <input type="button" id="btnCancel" onclick="window.location.href=window.location.href" class="btn btn-secondary" value="Cancel">
                </div> 
                <div  style="margin-left: 4.5rem; margin-top: -3.4rem;" class="row">
                    <div class="mt-3 form-outline ">
                        <button type="submit" id="btnUnitSave" onclick=" return SaveUnitValidation()"
                            class="btn btn-success"> Save </button>
                    </div>
                    <div>
                        <button type="submit" style="display: None;" onclick=" return SaveUnitValidation()"
                            id="btnUnitUpdate" name="btnUnitUpdate" value="updateUnit1" class="btn btn-primary"> Update
                        </button>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>

<!--  UNIT DETAILS TABLE  -->
<!-- <table id="tableUnit" class="table text-light bg-dark">
    <thead>
        <tr>
            <th class="text-center">S.No</th>
            <th class="text-center">Unit</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody class="text-light">
        {% for data in tableUnit %}
        <tr>
            <td class="text-center">{{forloop.counter}}{{endfor}}</td>
            <td class="text-center">{{data.unit}}</td>
            <td class="text-center"><input type="button" onclick="EditUnitDetails('{{data.unit_id}}')" value="Edit"
                    class="btn btn-success"></td>
            <form action="{% url 'productdetailsremove' data.unit_id %}" method="POST">
                {% csrf_token %}
                <td class="text-center"><button type="submit" id="btnUnitDelete" name="btnUnitDelete"
                        onclick="return confirm('Are you sure, you delete {{data.unit}} data?')"
                        value="DeleteUnitDetails" class="btn btn-danger fa fa-trash-o"></button></td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table> -->
<!--  PRODUCT NAME DETAILS TABLE  -->
<table id="tableProdUnit" class="table text-light bg-dark">
    <thead>
        <tr>
            <th class="text-center">S.No</th>
            <th class="text-center">Product name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Unit</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <div style="height: 150px; overflow: auto">
        <tbody class="text-light">
            {% for data in table %}
            <tr>
                <td class="text-center">{{forloop.counter}}{{endfor}}</td>
                <td class="text-center">{{data.product_name}}</td>
                <td class="text-center">{{data.price}}</td>
                {% for values in data.units %}
                <td class="text-center">{{values.unit}}</td>
                {% endfor %}
                <td class="text-center"><input type="button" onclick="EditProductDetails('{{data.product_id}}')"
                        value="Edit" class="btn btn-success"></td>
                <form action="{% url 'productdetailsremove' data.product_id %}" method="POST">
                    {% csrf_token %}
                    <td class="text-center"><button type="submit" id="btnProductDelete" name="btnProductDelete"
                            onclick="return confirm('Are you sure, you delete {{data.product_name}} data?')"
                            value="DeleteProductDetails" class="btn btn-danger fa fa-trash-o"></button></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </div>
</table>


{% endblock %}